content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 50px 0;
}


.producto{
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    margin: 60px 20px 0px 20px;

    -webkit-box-shadow: -1px 8px 8px 5px rgba(189,189,189,0.56);
    -moz-box-shadow: -1px 8px 8px 5px rgba(189,189,189,0.56);
    box-shadow: -1px 8px 8px 5px rgba(189,189,189,0.56);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
    transform: scale(1.05); /* Grow slightly when hovered */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow */
}

.producto a{
    text-decoration: none;
}

.producto a::before{
    display: none;
}

h2,h3{
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    margin: 8px;
    width: 250px;
}

h3{
    font-style: italic;
}

.producto_img{
    border: 5px solid #556B2F;
    border-radius: 20px;
    width: 400px;
    height: 600px;
}

.materiales_wrapper{
    background-color: #556B2F;
    border-radius: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #fff;
}

.materiales{
    margin: 0;
    padding: 10px;
}